
@import url('../../../ingredient-general/css/header.css');
@import url('../../../ingredient-general/css/footer.css');

.wrapper{
	overflow: hidden;
}

/* Container */
.page-products{
    background-color: #f5f5f5;
}

.mobile-category{
	display: none;
}

.mobile-category__list::-webkit-scrollbar{ /* Pseudo element để ẩn thanh scroll */
	display: none;
}

.mobile-category__list{
	list-style-type: none;
	display: flex;
	max-width: 100%;
	overflow-x: auto;
}

.mobile-category__item{
	flex-shrink: 0;
	margin: 0 5px;
}

.mobile-category__item:first-of-type{
	margin-left: 0;
}

.mobile-category__item:nth-of-type(3n + 1) 
.mobile-category__link {				/*bắt đầu từ item thứ 3 và selection đến item vị trí thứ 1*/
	background-color: #87AFD8;
}

.mobile-category__item:nth-of-type(3n + 2) 
.mobile-category__link {				/*bắt đầu từ item thứ 3 và selection đến item vị trí thứ 2*/
	background-color: #76C9BD;
}

.mobile-category__item:nth-of-type(3n + 3) 
.mobile-category__link {				/*bắt đầu từ item thứ 3 và selection đến item vị trí thứ 3*/
	background-color: #88CF91;
}

.mobile-category__link{
	--line-height: 2rem;
	text-decoration: none;
	color: var(--white-color);
	text-align: center;
	font-size: 1.4rem;
	font-weight: 300;
	line-height: var(--line-height);
	width: 110px;
	padding: 0 6px;
	height: calc(var(--line-height) * 2);
	border-radius: 4px;
	display: block;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

.products-breadcrumb{
    padding: 18px 0 16px;
}

.breadcrumb__list{
    list-style-type: none;
    display: flex;
}

.breadcrumb__item:last-of-type{
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.breadcrumb__item-link{
    font-size: 1.3rem;
    text-decoration: none;
}

.breadcrumb__item-label{
    font-size: 1.4rem;
}

.breadcrumb__item-icon{
    font-size: 1.3rem;
    margin: 0 6px;
}

.breadcrumb__item-link, .breadcrumb__item-label, 
.breadcrumb__item-icon{
    color: rgba(0, 0, 0, 0.8);
}

.products-briefing, .page-products__hot-sales{
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	border-radius: 3px;
	background-color: var(--white-color);
}

.products-briefing > .col.l-5{
	max-width: 480px;
}

.products-briefing > .col.l-7{
	min-width: 720px; 
}

/* left */
.products-briefing__left{
	padding: 15px;
}

.products-briefing__left-sourse-img{
	padding-top: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.products-briefing__left-slider{
	width: 100%;
	display: flex;
	margin: 11px -5px 0px;
	position: relative;
}

.left-slider__item{
	margin: 0 5px;
	width: 82px;
	height: 82px;
}

.left-slider__item--hover{
	border: 2px solid var(--primary-color);
}

.left-slider__item-img{
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-origin: border-box;
}

.products-briefing__left-slider.slider-show-button 
.left-slider__button{
	display: block;
}

.left-slider__button{
	height: 40px;
	width: 20px;
	background-color: rgba(0, 0, 0 ,0.3);
	align-items: center;
	outline: none;
	border: 0;
	position: absolute;
	display: none;
}

.left-slider__button > i{
	color: var(--white-color);
	font-size: 1.5rem;
}

.left-slider__button--left{
	top: 50%;
	left: 5px;
	transform: translateY(-50%);
}

.left-slider__button--right{
	top: 50%;
	right: -5px;
	transform: translateY(-50%);
}

.products-briefing__left-footer{
	height: 25px;
	width: 100%;
	margin-top: 26px;
	display: flex;
}

.products-briefing__left-wrapper-img{
	position: relative;
}

.products-briefing__left-sourse-img::before{
	visibility: hidden;
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border: 2px solid var(--primary-color);
}

.left-footer__sharing{
	display: flex;
	justify-content: center;
	padding: 0 50px 0 30px;
}

.left-footer__sharing-label{
	margin-right: 2px;
	font-size: 1.6rem;
	color: #222222;
	line-height: 2.5rem;
}

.left-footer__sharing-button-list{
	transform: translateY(-1px);
	display: flex;
	align-items: center;
}

.left-footer__sharing-button-item{
	outline: none;
	border: none;
	background-color: transparent;
	width: 25px;
	height: 25px;
	cursor: pointer;
	margin-left: 4px;
}

.left-footer__sharing-button-item i{
	font-size: 2.5rem;
}

.button-messenger{
	color:#0384ff;
}

.button-facebook{
	color: #3b5999;
}

.button-google{
	color: #d64f43;
}

.button-printerest{
	color: #de0217;
}

.left-footer__favourite{
	flex-grow: 1;
	height: 20px;
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: center;
}

.left-footer__favourite-icon{
	font-size: 2.2rem;
	color: var(--primary-color);
	margin-right: 6px;
}

.left-footer__favourite-label{
	font-size: 1.6rem;
	color: #222222;
	position: relative;
	top: -2px;
}

.left-footer__favourite-fill:hover, .left-footer__favourite-empty:hover{
	cursor: pointer;
}

.left-footer__favourite-fill{
	display: none;
}

.left-footer__favourite-action > .left-footer__favourite-fill{
	display: block;
}

.left-footer__favourite-action > .left-footer__favourite-empty{
	display: none;
}

/*right*/
.products-briefing__right{
	padding: 20px 35px 0 20px;
}

.products-briefing__right-heading{
	margin-top: 2px;
	position: relative;
}

.right-heading__favourite{
	float: left;
	width: 72px;
	height: 18px;
	line-height: 1.6rem;
	padding: 2px 0;
	user-select: none;
	box-sizing: border-box;
	font-size: 1.2rem;
	color: var(--white-color);
	background-color: var(--primary-color);
	font-weight: 400;
	text-align: center;
	border-radius: 2px;
	position: absolute;
	top: 4px;
	left: 0;
}

.right-heading__favourite i{
	font-size: 0.8rem;
	transform: translateY(-2px);
}

.right-heading__label{
	line-height: 2.4rem;
	color: var(--text-color);
	font-size: 2rem;
	font-weight: 500;
	text-indent: 82px;
	overflow: hidden;
	display: block;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

.products-briefing__right-parameter{
	height: 25px;
	margin-top: 12px;
	display: flex;
}

.right-parameter__rating, .right-parameter__evaluate, 
.right-parameter__sold {
	text-align: center;
}

.right-parameter__rating{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-right: 16px;
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	color: var(--primary-color);
}

.right-parameter__rating-label{
	font-size: 1.6rem;
	margin-right: 4px;
	position: relative;
}

.right-parameter__rating-label::after{
	content: "";
	display: block;
	width: 22px;
	height: 1px;
	background-color: currentColor;
	position: absolute;
	bottom: -2px;
	left: 0px;
}

.right-parameter__rating-stars-wrapper{
	transform: translateY(-1px);
	font-size: 1.3rem;
}

.right-parameter__rating-star-fill, .right-parameter__rating-star-empty{
	margin-right: -3px;
}

.right-parameter__evaluate{
	padding: 0 16px;
	line-height: 2.4rem;
	border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.right-parameter__evaluate-amount{
	font-size: 1.6rem;
	color: #222222;
	margin-right: 2px;
	position: relative;
}

.right-parameter__evaluate-amount::after{
	content: "";
	display: block;
	width: 26px;
	height: 1px;
	position: absolute;
	bottom: -2px;
	left: 1px;
	background-color: #222222;
}

.right-parameter__evaluate-label{
	font-size: 1.4rem;
	color: rgba(0, 0, 0, 0.6);
}

.right-parameter__sold{
	padding: 0 16px;
	line-height: 2.4rem;
}

.right-parameter__sold-amount{
	color: #222222;
	font-size: 1.6rem;
	margin-right: 2px;
}

.right-parameter__sold-label{
	font-size: 1.4rem;
	color: rgba(0, 0, 0, 0.6);
}

.products-briefing__right-price{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 10px;
	padding: 15px 20px;
	background-color: #fafafa;
}

.right-price__old{
	font-size: 1.6rem;
	color: #929292;
	margin-right: 10px;
	text-decoration: line-through;
}

.right-price__current{
	font-size: 3rem;
	font-weight: 500;
	line-height: 3.6rem;
	margin-right: 14px;
	color: var(--primary-color);
}

.right-price__sale-off{
	color: var(--white-color);
	font-size: 1.2rem;
	text-align: center;
	line-height: 1rem;
	font-weight: 600;
	padding: 4px 4px 2px;
	border-radius: 2px;
	background-color: var(--primary-color);
}

.right-price__sale-off-label{
	text-transform: uppercase;
}

.products-briefing__right-detail{
	margin-top: 30px;
	padding: 0 22px;
}

.right-detail__info{
	display: flex;
	margin-bottom: 44px;
	line-height: 2.3rem;
	font-size: 1.4rem;
}

.right-detail__info-link{
	display: block;
	width: 100%;
	color: var(--primary-color);
	text-decoration: none;
}

.right-detail__info-wrapper{
	max-height: 160px;
	overflow: hidden;
}

.right-detail__info-label, .right-detail__quantity-label{
	color: #757575;
	flex-basis: 25%;
	font-size: 1.4rem;
}

.right-detail__info-sumary, .right-detail__quantity-input-wrapper{
	color: var(--text-color);
	flex-basis: 75%;
}

.right-detail__quantity{
	display: flex;
	align-items: center;
}

.right-detail__quantity-input{
	max-height: 32px;
	overflow: hidden;
	display: inline-flex;
	align-items: center;
	box-sizing: border-box;
	border: 1px solid #e8e8e8;
	border-radius: 2px;
}

.right-detail__quantity-button, .right-detail__quantity-current{
	outline: none;
	border: none;
}

.right-detail__quantity-button{
	cursor: pointer;
	width: 32px;
	height: 32px;
	background-color: var(--white-color);
}

.right-detail__quantity-button i{
	font-size: 1rem;
	color: var(--text-color);
}

.right-detail__quantity-current{
	text-align: center;
	height: 32px;
	width: 50px;
	font-size: 1.6rem;
	border-left: 1px solid #e8e8e8;
	border-right: 1px solid #e8e8e8;
}

.products-briefing__right-action{
	width: 100%;
	padding-left: 22px;
	margin-top: 20px;
}

.right-action__buy-now{
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.right-action__add-cart, .right-action__buy-now{
	padding: 0 12px;
	text-transform: capitalize;
	font-size: 1.4rem;
	min-width: 180px;
	height: 48px;
}

.right-action__add-cart:hover{
	background-color: rgba(238, 77, 45, 0.12);
}

.right-action__add-cart{
	margin-right: 16px;
	color: var(--primary-color);
	background-color: rgba(238, 77, 45, 0.08);
	border: 1px solid currentColor;
}

.right-action__add-cart-icon{
	transform: translateY(2px);
	margin-right: 4px;
	font-size: 1.7rem;
}

.products-briefing__right-footer{
	width: 100%;
	margin-top: 30px;
	border-top: 1px solid #f2f2f2;
}

.right-footer__link{
	display: inline-flex;
	text-decoration: none;
	align-items: center;
	padding: 15px 20px;
}

.right-footer__link-img{
	filter: brightness(120%);
	height: 20px;
	margin-right: 6px;
}

.right-footer__link-label, .right-footer__link > span:nth-of-type(2){
	font-size: 1.4rem;
	text-transform: capitalize;
}

.right-footer__link-label{
	color: var(--text-color);
}

.right-footer__link > span:nth-of-type(2){
	color: rgba(0, 0, 0, 0.54);
	margin-left: 20px;
}

.products-briefing__left-add-mobile-tablet{
	display: none;
}

.page-products__content{
	display: flex;
}

.page-products__content-left{
	flex: 1;
	max-width: calc(100% - 230px);
	padding: 0px 0px 30px;
}

.page-products__content-right{
	flex-basis: 230px;
	width: 230px;
	margin-left: 15px;
}

.page-products__content-left, .page-products__content-right{
	margin-top: 20px;
}

.content-left__product-details{
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	padding: 10px;
	border-radius: 2px;
	background-color: var(--white-color);
}

.product-details__item{
	padding: 15px 15px 0;
}

.product-details__item-heading{
	width: 100%;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.87);
	background-color: #fafafa;
	font-size: 1.8rem;
	line-height: 2.2rem;
	padding: 14px;
}

.product-details__item-info{
	margin-top: 18px;
}

.product-details__item-info-row{
	padding-left: 15px;
	margin-bottom: 20px;
	font-size: 1.4rem;
}

.item-info-row__label{
	width: 100px;
	color: rgba(0, 0, 0, 0.4);
	margin-right: 40px;
	word-wrap: break-word;
	display: inline-block;
	text-transform: capitalize;
}

.item-info-row__link{
	color: var(--text-color);
	text-decoration: none;
}

.item-info-row__span{
	color: var(--text-color);
}

.item-info-row__link--shopee{
	color: #0055aa;
}

.product-details__item-description{
	margin-top: 18px;
	padding: 0 0 0 15px;
	color: var(--text-color);
	font-size: 1.4rem;
	line-height: 2.2rem;
}

.content-left__promotion-combo{
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	margin-top: 20px;
	background-color: var(--white-color);
	border-radius: 3px;
	padding: 24px 28px;
}

.promotion-combo__heading{
	display: flex;
	align-items: center;
}

.promotion-combo__heading-left{
	flex: 1;
	color: rgba(0, 0, 0, 0.8);
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 2.2rem;
}

.promotion-combo__heading-right{
	text-decoration: none;
	font-size: 1.4rem;
	color: var(--primary-color);
}

.promotion-combo__heading-right i{
	transform: translateY(-1px);
	font-size: 1.2rem;
	margin-left: 4px;
}

.promotion-combo__products.products-button--action > 
.products-button--left{
	display: block;
}

.promotion-combo__products{
	position: relative;
	width: 100%;
	margin-top: 20px;
}

.promotion-combo__products-list{
	max-width: 100%;
	list-style-type: none;
	display: flex;
	/* margin: 0 -10px 0; */
	transition: transform 0.2s ease-out 0.05s;
}

.promotion-combo__products-item-link:hover .products-item__img{
	transform: scale(1.05);
}

.promotion-combo__products-item{
	flex-shrink: 0;
	width: 153px;
	padding: 0 10px;
}

.promotion-combo__products-item-link{
	text-decoration: none;
	display: block;
	cursor: pointer;
}

.products-item__img-wrap{
	width: 100%;
	overflow: hidden;
}

.products-item__img{
	transition: transform 0.12s ease-out;
	padding-top: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.products-item__name{
	height: 36px;
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 1.8rem;
	margin-top: 10px;
	color: var(--text-color);
	overflow: hidden;
	display: block;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

.products-item__price{
	display: flex;
	align-items: center;
	width: 100%;
	height: 32px;
	padding-top: 4px;
}

.products-item__original-price{
	font-size: 1.4rem;
	width: 58px;
	margin-right: 4px;
	color: rgba(0, 0, 0, 0.54);
	text-decoration: line-through;
}

.products-item__current-price{
	font-size: 1.4rem;
	color: var(--primary-color);
}

.products-item__original-price, .products-item__current-price{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.promotion-combo__products-button:hover{
	transform: scale(1.2);
	cursor: pointer;
}

.promotion-combo__products-button{
	width: 28px;
	--height: 28px;
	height: var(--height);
	border: 0;
	border-radius: 50px;
	padding: 1px 0 0 1px;
	outline: none;
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 1;
	position: absolute;
	top: calc(50% - (var(--height)/2));
	transition: transform 0.08s linear;
}

.promotion-combo__products-button-icon{
	font-size: 1.5rem;
	color: var(--white-color);
}

.promotion-combo__products.promotion-combo__products-full 
.products-button--right{
	display: block;
}

.products-button--left, .products-button--right{
	display: none;
}

.products-button--left{
	left: -6px;
}

.products-button--right{
	right: -6px;
}

div.page-products__hot-sales{
	border-radius: 2px;
	padding: 10px 0;
}

.page-products__hot-sales-heading{
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 1.7rem;
	padding: 10px 20px 0;
	text-transform: capitalize;
	color: rgba(0, 0, 0, 0.4);
}

.page-products__hot-sales-list{
	list-style-type: none;
}

.page-products__hot-sales-item:not(.page-products__hot-sales--last-item){
	border-bottom: 1px solid #e8e8e8;
}

.page-products__hot-sales-link{
	display: block;
	padding: 20px 20px 18px;
	text-decoration: none;
}

.hot-sales-item__img{
	padding-top: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.hot-sales-item__name{
	width: 100%;
	height: 34px;
	margin-top: 8px;
	overflow: hidden;
	display: block;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	line-height: 1.6rem;
	padding: 0 10px;
	font-size: 1.4rem;
	color: var(--text-color);
}

@keyframes fade-off {
	0%{
		opacity: 1;
	}
	55%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}

.hot-sales-item__price{
	width: 100%;
	height: 24px;
	line-height: 2.4rem;
	margin-top: 4px;
	padding: 0 10px;
	font-size: 1.6rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: var(--primary-color);
}

.addition-cart-successful {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	border-radius: 10px;
	padding: 14px 24px;
	height: 130px;
	line-height: 4.6rem;
	text-align: center;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0 ,0.55);
	animation: fade-off 2.2s linear;
	-webkit-animation: fade-off 2.2s linear;
}

.addition-cart-successful__span {
	font-size: 1.8rem;
	color: var(--white-color);
}

.addition-cart-successful__icon {
	display: block;
	font-size: 3.8rem;
	color: mediumseagreen;
	filter: brightness(1.2);
}
